Home {
  font: GmarketSansMedium;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url(./fonts/GmarketSansTTFLight.ttf) format("truetype");
}

@font-face {
  font-family: "GmarketSansBold";
  src: url(./fonts/GmarketSansTTFBold.ttf) format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
